body{
  background-color: aqua;
 }
 
 /* imagen de cv */
.imagen {
  height: 180px;
  width: auto;
  border-radius: 20%;
}
.imagenId{
  height: 20px;
  width: auto;
  border-radius: 10%;
}
.imagenIn{
  height: 30px;
  width: auto;
  border-radius: 10%;
  cursor: pointer;
}
.imagenEmail{
  height: 28px;
  width: auto;
  border-radius: 10%;
  }
  .containerMain{
    border-color: rgb(220, 19, 19);
    border: 10px;
  }
.container {
    border-color: rgb(14, 67, 223);
    border: 10px;
  }
.item1{
  border-color: black;
  border: 10px;
  }
